// Change your color you want --- please input rgb color (ex: 22,33,44)

// THEME PALETTE 10 indigo-coolGrey ==========================================
:root {
  // PRIMARY COLOR
  --c-primary-50: 234, 235, 248;     /* lightest tone */
  --c-primary-100: 215, 217, 241;
  --c-primary-200: 185, 188, 229;
  --c-primary-300: 150, 154, 210;
  --c-primary-400: 110, 115, 180;
  --c-primary-500: 80, 85, 140;
  --c-primary-600: 60, 65, 115;
  --c-primary-700: 45, 45, 99;       /* base */
  --c-primary-800: 36, 36, 80;
  --c-primary-900: 28, 28, 65;
  

  // SECONDARY COLOR
  --c-secondary-50: 235, 255, 255;
  --c-secondary-100: 200, 250, 250;
  --c-secondary-200: 150, 240, 240;
  --c-secondary-300: 90, 225, 223;
  --c-secondary-400: 45, 210, 208;
  --c-secondary-500: 25, 200, 198;
  --c-secondary-600: 3, 190, 187;
  --c-secondary-700: 3, 160, 158;
  --c-secondary-800: 2, 130, 128;
  --c-secondary-900: 2, 100, 98;

  // NEUTRAL COLOR
  --c-neutral-50: 249, 250, 251;
  --c-neutral-100: 243, 244, 246;
  --c-neutral-200: 229, 231, 235;
  --c-neutral-300: 209, 213, 219;
  --c-neutral-400: 156, 163, 175;
  --c-neutral-500: 107, 114, 128;
  --c-neutral-600: 75, 85, 99;
  --c-neutral-700: 55, 65, 81;
  --c-neutral-800: 31, 41, 55;
  --c-neutral-900: 17, 24, 39;
}
